<style>
    .footer-nav li {
  display: block;
  float: left;
  border: 1px solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: currentcolor;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2px;
  border-left: none;
  margin-top: -1px;
  padding-top: 2px;
}
</style>
<footer>
    <ul class="footer-nav" style="display: table; margin: auto;">
        <li class="fill"></li>
        <li class="first"><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/hikichan/rules">Rules</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/advertise">Advertise</a></li>
        <li><a href="/press">Press</a></li>
        <li><a href="/japanese">日本語</a></li>
    </ul>
    <p class="unimportant" style="margin-top:20px;text-align:center;">
        - 
        <a href="https://github.com/savetheinternet/Tinyboard">tinyboard</a> +
        <a href="https://github.com/vichan-devel/vichan">vichan</a> + 
        <a href="https://hikichan.com">hikichan</a> {{ config.version }}
        {% if check_container() %}Running Containerized{% endif %}
        -
        <br>Tinyboard Copyright &copy; 2010-2014 Tinyboard Development Group
        <br><a href="https://github.com/vichan-devel/vichan">vichan</a> Copyright &copy; 2012-2025 vichan-devel
    </p>
    {% for footer in config.footer %}<p class="unimportant" style="text-align:center;">{{ footer }}</p>{% endfor %}
</footer>
