{% if config.archive.threads %}
<p style="text-align: center">
    <a id="unimportant" href="{% if mod %}{{ config.file_mod }}?/{{ board.dir }}{{ config.dir.archive }}{% else %}{{ config.root }}{{ board.dir }}{{ config.dir.archive }}{% endif %}">[{% trans %}Board Archive{% endtrans %}]</a>
</p>
{% endif %}

{% if is_mod_archive %}
    {% if mod and mod|hasPermission(config.mod.remove_from_mod_archive, board.uri) %}
        <p style="text-align: center">
            <b>Please be courteous and don't delete the threads archived here as they were archived for a reason.</b>
        </p>
    {% endif %}
{% endif %}

<p style="text-align: center">
    <b>{% trans 'Displaying featured threads' %}</b><br/>
    {% if is_mod_archive %}
        <small>{% trans 'Threads manually archived by moderators.' %}</small>
    {% else %}
        <small>{% trans 'Threads promoted to the featured archive.' %}</small>
    {% endif %}
</p>

<table id="archive-list" class="archive-list modlog">
    <thead>
        <tr>
            <th width='80px'>Post #</th>
            <th>Snippet</th>
            <th width='50px'>&nbsp;</th>
            {% if is_mod_archive %}
                {% if mod and post.mod|hasPermission(config.mod.remove_from_mod_archive, board.uri) %}
                    <th width='80px'>&nbsp;</th>
                {% endif %}
            {% else %}
                {% if mod and post.mod|hasPermission(config.mod.delete_featured_archived_threads, board.uri) %}
                    <th width='80px'>&nbsp;</th>
                {% endif %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for thread in archive %}
            <tr>
                <td>{{ thread.original_thread_id | default(thread.display_id) }}</td>
                <td>{{ thread.snippet }}</td>
                <td><a href="{{ thread.featured_url }}">[{% trans 'View' %}]</a></td>
                {% if is_mod_archive %}
                    {% if mod and post.mod|hasPermission(config.mod.remove_from_mod_archive, board.uri) %}
                        <td>
                            <form action="" method="post" class="archiveForm">
                                <input type="hidden" name="token" value="{{ token }}">
                                <input type="hidden" name="id" value="{{ thread.id }}">
                                <input type="hidden" name="delete" value="1">
                                <a href="#" onclick="return confirm('Are you sure you want to remove this thread from the mod archive?')?this.parentNode.submit():false;">[{% trans 'Delete' %}]</a>
                            </form>
                        </td>
                    {% endif %}
                {% else %}
                    {% if mod and post.mod|hasPermission(config.mod.delete_featured_archived_threads, board.uri) %}
                        <td>
                            <form action="" method="post" class="archiveForm">
                                <input type="hidden" name="token" value="{{ token }}">
                                <input type="hidden" name="id" value="{{ thread.id }}">
                                <input type="hidden" name="delete" value="1">
                                <a href="#" onclick="return confirm('Are you sure you want to remove this thread from the featured archive?')?this.parentNode.submit():false;">[{% trans 'Delete' %}]</a>
                            </form>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
